<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders"
      allowDefinition="MachineToApplication" restartOnExternalChanges="true" xdt:Transform="Insert"/>
    <sectionGroup name="enyim.com" xdt:Transform="Insert">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>

  <cacheProvider defaultProvider="MemcachedCacheProvider" xdt:Transform="Insert">
    <providers>
      <add name="MemcachedCacheProvider"
          type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders"  defaultExpireTime="2000"/>
    </providers>
  </cacheProvider>
  <system.web>
    <sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom"
                  customProvider="MemcachedSessionProvider" xdt:Transform="Insert">
      <providers>
        <add name="MemcachedSessionProvider"
             type="MemcachedProviders.Session.SessionStateProvider,MemcachedProviders"
             dbType="none" />
      </providers>
    </sessionState>
  </system.web>
</configuration>
